*{
    font-family: 'Borel', cursive;
    text-shadow: 2px 2px 3px rgb(165, 128, 42);
}
.h1{
    font-size: 0.8em;
}
.h2{
    font-size: 1em;
}
.h3{
    font-size: 1.3em;
}
.h4{
    font-size: 1.6em;
}
.h5{
    font-size: 1.9em;
}
.h6{
    font-size: 2.2em;
}
.h7{
    font-size: 2.5em;
}
.h8{
    font-size: 2.8em;
}
.h9{
    font-size: 3.1em;
}
.h10{
    font-size: 3.4em;
}
.h11{
    font-size: 3.7em;
}
.h12{
    font-size: 4em;
}
.h13{
    font-size: 4.3em;
}
.h14{
    font-size: 4.6em;
}
.h15{
    font-size: 4.9em;
}
.h16{
    font-size: 5.2em;  
}
.h17{
    font-size: 5.5em;
}
.h18{
    font-size: 5.8em;
}
.h19{
    font-size: 6.1em;
}
.h20{
    font-size: 6.4em;
}
body{
    text-align: center;
    background-color: rgb(47, 107, 63);
}